{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

  <div class="container">
    <div class="hero-content">
      <h1>I'm <span class="typed" data-typed-items="Sanjay Durgan, A Personal Finance Veteran"></span></h1>
      <p>With 18+ Years of Experience </p>
      <center>
      <ul class="list-unstyled list-social">
        <li><a href="https://twitter.com/DurganSanjay?t=uYDPRoDa5komvr_pOJ1FmQ&s=08" target="_blank"><i class="bi bi-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sanjaydurgan" target="_blank"><i class="bi bi-linkedin"></i></a></li>
      </ul>
      </center>
    </div>
  </div>
</div><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="{% static 'img/me.jpg'%} " class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Founder of AbunDanze, with experience of 18+ years to manage the financial assets and goals of hundreds of clients across 7 countries.
</p>
            <p class="separator">His first entrepreneurship milestone was in 1995 as the Co-founder of Laughing Buddha Computers and then started his own company in 2002 with funds gained by his investment during his college days. He is certified by the Financial Planning Standards Board (FPSB) as Financial Professional in 2003. He also became CFP certified in 2006. He trained the first batch of professionals at the International College of Financial Planning, New Delhi. Currently working and exploring new edges of AbunDanze like Behaviour Science and Responsible Investing, and researching about the financial reset and disruption after the global pandemic.
</p>

          </div>

        </div>
      </div>
    </div>
  </div><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <!-- <div id="services">
    <div class="container">

      <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-briefcase"></i>
              <span>UI/UX DESIGN</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-card-checklist"></i>
              <span>BRAND IDENTITY</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-bar-chart"></i>
              <span>WEB DESIGN</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-binoculars"></i>
              <span>MOBILE APPS</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-brightness-high"></i>
              <span>Analytics</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="services-block">
              <i class="bi bi-calendar4-week"></i>
              <span>PHOTOGRAPHY</span>
              <p class="separator">To an English person, it will seem like simplified English,told me what </p>
            </div>
          </div><!-- End testimonial item -->

        <!-- </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </div><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <!-- <div id="portfolio" class="paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="{% static 'img/portfolio/portfolio-1.jpg'%} " class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <a href="{% static 'img/portfolio/portfolio-1.jpg'%} " data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="{% static 'img/portfolio/portfolio-2.jpg'%}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="{% static 'img/portfolio/portfolio-2.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="{% static 'img/portfolio/portfolio-3.jpg'%}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="{% static 'img/portfolio/portfolio-3.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="{% static 'img/portfolio/portfolio-4.jpg'%}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a href="{% static 'img/portfolio/portfolio-4.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="{% static 'img/portfolio/portfolio-5.jpg'%}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <a href="{% static 'img/portfolio/portfolio-5.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="{% static 'img/portfolio/portfolio-6.jpg'%}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <a href="{% static 'img/portfolio/portfolio-6.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>

  </div><!-- End Portfolio Section -->

  <!-- ======= Journal Section ======= -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>Blogs</h2>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="{% url 'blog1'%}"><img src="{% static 'img/budget1.jpg'%}" class="img-responsive" alt="img"></a>

              <div class="journal-txt">
                <center>
                <h4><a href="{% url 'blog1'%}">BUDGET 2012</a></h4></center>
                <p class="separator">The three primary concerns for this year’s budget were putting India back on
the <b>growth</b> trajectory, <b>fiscal consolidation</b> and moderating <b>inflation</b>.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="{% url 'blog2'%}"><img src="{% static 'img/inflation.jpg'%}" class="img-responsive" alt="img"></a>

              <div class="journal-txt">
                <center>
                <h4><a href="{% url 'blog2'%}">INFLATION, INFLATION, INFLATION</a></h4></center>
                <p class="separator">Inflation..inflation..inflation when do we respite from thee? No not now, not too soon has
been the refrain since March 2010.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="{% url 'blog3'%}"><img src="{% static 'img/whither1.jpg'%}" class="img-responsive" alt="img"></a>

              <div class="journal-txt">
                <center>
                <h4><a href="{% url 'blog3'%}">WHITHER MARKETS?</a></h4></center>
                <p class="separator">Whither Markets? To what place, end or purpose? Take me wherever, whatever....I
have no purpose!
                </p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div><!-- End Journal Section -->

  <!-- ======= Contact Section ======= -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><a href="tel:+918700197726"><span>+91 8700197726</span></a></li>
                <li><a href="mailto:infofunds@gmail.com"><span>infofunds@gmail.com</span></a></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-6">
            <form action="/contactus/" method="POST" >
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
            </div>

            <div class="text-center"><button class="button" type="submit">Send Message</button></div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}
